Tämä on oppimispäiväkirja 2.0

Tässä on tekstiä

In [2]:
print("Tässä on koodia")

Tässä on koodia

Viikko 1


1. Kerro osallistuitko viikon opetukseen ja kuvaa päiväkirjan laatimisessa käyttämäsi aineisto.
Katsoin luennon tallenteen

Datatieteilijän taitoja
https://www.schoolofdatascience.amsterdam/news/skills-need-become-modern-data-scientist/

Datatieteiden metrokartta
http://nirvacana.com/thoughts/2013/07/08/becoming-a-data-scientist/

Pythonin valmiita datasaettejä
https://medium.com/analytics-vidhya/built-in-datasets-in-python-24adca42012c

2. Tiivistä luentoviikon keskeiset asiat tekstiksi.

Aloitusluennolla käytiin läpi kurssin käytännöt ja perehdyttiin siihen, mitä ylipäätään datatiede on. Itselleni aihe on todella kiinnostava, sillä tavoitteena olisi suorittaa tietojenkäsittelytieteiden Data Science maisterivaihe. Mielenkiintoista on myös nähdä, miten aikaisempien tilastokurssien käytäntöjä voin hyödyntää kurssilla. Olen myös käynyt Big Data johdatuskurssin, mistä on varmasti hyötyä tällä kurssilla.

Datatieteen ideana on luoda datasta jotakin uutta informaatiota ja tietoa. Datatieteen avulla voidaan tuoda esille ongelmia, sekä niiden pohjalta määritellä ratkaisuja. Datatiede on hyvin monitieteistä. Se voidaan jakaa todella moneen eri alalajiin, mutta tärkeimmät osa-alueet ovat liiketoimintaosaaminen, ohjelmointi, tilastotieteet sekä viestintä ja visualisointi. Muita osa-alueita ovat esimerkiksi matematiikka, koneoppiminen ja big data. Datatieteet yhdistävät paljon vanhaa tietoa uusien teknologioiden kanssa. Tilastotieteissä useat käytännöt ja kaavat voivat olla kymmeniä tai jopa satoja vuosia vanhoja, mutta nykypäivän datan saatavuus ja prosessointimahdollisuudet luovat näille vanhoille menetelmille todella tehokkaita käyttömahdollisuuksia datatieteissä. 

Datatieteiden yksi tärkeimpiä työkaluja on ohjelmointi. Usein ongelmat ovat erittäin tarkoin määriteltyjä ja tulevat täysin toisistaan eroavista ympäristöistä, jolloin universaaleja ratkaisuja ei ole helppo löytää. Ohjelmointi tarjoaa erittäin laajaa joustavuutta jota datatieteissä tarvitaan. On olemassa erilaisia valmisvälineitä, mutta ne tuovat mukana useita ongelmia esimerkiksi huono toistettavuus, rajoittavuus,  joustavuuden puute, koodin huono hallittavuus sekä yhteisötuen puuttuminen.

3. Kirjaa lisäksi ylös viisi oivallusta tai tärkeintä oppimaasi asiaa erilliseksi listaksi.

   1. 80/20: Vaikka itselleni datan jalostus on suhteellisen tuttua, niin tuli hieman yllätykseksi kuinka suuren osanajasta se vie datatietelijän(tai engineerin) työtehtävistä
    
   2. Tärkeitä taitoja datatieteilijälle: Matematiikka ja tilastotiede, koodaaminen ja tietokannat, kommunikaatio ja visualisointi, domain knowledge.
       
   3. Valmiiden kirjastojen tärkeys: Itselläni oli aikaisemmin oletus, että datatieteet olisi itselleni liian matemaattista  ja haastavaa, mutta olen alkanut ymmärtämään, että ei tässä pyörää tarvitse keksiä uudelleen. Vaikka datatieteet voivat olla todella kompleksien algoritmien suunnittelua, niin siitä löytyy myös käytännönläheisempi puoli erilaisten valmiiden kirjastojen avulla.
       
   4. Datatieteiden osa-alueet
    
   5. Datan saatavuus ja sen luomat haasteet: Maailmassa on dataa uskomattomasti, mutta suurin osa niistä on yksityisillä yrityksillä käytössä.
   
4. Listaa yhdestä kolmeen kehityskohdetta tai flippausvinkkiä luentoviikolle.

-Mahdollisesti jokin tutoriaali siihen, miten oppimispäiväkirja saataisiin tehtyä pelkästään jupyter notepadilla. Ehkä markdownin käyttö jupyterilla.

5. Kokoa noin kymmenen koodirivin demo viikon aikana oppimastasi.
Käydään läpi pandas kirjastoa ja sen toimintoja.

In [5]:
#importataan pandas sekä sklearnin valmiita datasettejä
import pandas as pd
from sklearn import datasets

#listataan datasettien nimet
dir(datasets)

['__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '_svmlight_format',
 'base',
 'california_housing',
 'clear_data_home',
 'covtype',
 'dump_svmlight_file',
 'fetch_20newsgroups',
 'fetch_20newsgroups_vectorized',
 'fetch_california_housing',
 'fetch_covtype',
 'fetch_kddcup99',
 'fetch_lfw_pairs',
 'fetch_lfw_people',
 'fetch_mldata',
 'fetch_olivetti_faces',
 'fetch_openml',
 'fetch_rcv1',
 'fetch_species_distributions',
 'get_data_home',
 'kddcup99',
 'lfw',
 'load_boston',
 'load_breast_cancer',
 'load_diabetes',
 'load_digits',
 'load_files',
 'load_iris',
 'load_linnerud',
 'load_sample_image',
 'load_sample_images',
 'load_svmlight_file',
 'load_svmlight_files',
 'load_wine',
 'make_biclusters',
 'make_blobs',
 'make_checkerboard',
 'make_circles',
 'make_classification',
 'make_friedman1',
 'make_friedman2',
 'make_friedman3',
 'make_gaussian_quantiles',
 'make_hastie_10_2',
 'make_low_rank_matrix',
 'make_moons',
 'make_multilabel_classification',
 'make_regression',
 'make_s_curve',
 'make_sparse_coded_signal',
 'make_sparse_spd_matrix',
 'make_sparse_uncorrelated',
 'make_spd_matrix',
 'make_swiss_roll',
 'mldata',
 'mldata_filename',
 'olivetti_faces',
 'openml',
 'rcv1',
 'samples_generator',
 'species_distributions',
 'svmlight_format',
 'twenty_newsgroups']

In [11]:
#valitaan load_iris datasetti ja luodaan siitä pandas dataframe
iris_data = pd.DataFrame(datasets.load_iris().data)
#määritellää sarakkeiden nimet
iris_data.columns = datasets.load_iris().feature_names

#tarkastellaan datasetin 5 ensimmäistä otosta
iris_data.head(5)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [16]:
#muutetaan sarakkeiden nimet 
iris_data.columns = ('a', 'b', 'c', 'd')
iris_data.head(5)

     a    b    c    d
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2

In [22]:
#tarkastellaan ensimmäistä saraketta
iris_data['a'].head(5)

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
Name: a, dtype: float64